$var:(1:576px,2:768px,3:1200px);
$varN:(1:sm,2:md,3:lg);
@for $i from 1 to 4 {
    @if $i<3{
        @media(min-width: map-get($var, $i)) and (max-width: map-get($var, $i+1)-1){
            @for $b from 1 to 13 {
                
                .col-#{map-get($varN, $i)}-#{$b}{
                    @if $b==12 {
                        margin-left: auto;
                        margin-right: auto
                    }
                    width: $b*map-get($var, $i)/12;
                  }
              }
            }
        }
    @else{
        @media(min-width: map-get($var, $i)){
            @for $b from 1 to 13 {
                .col-#{map-get($varN, $i)}-#{$b}{
                    width: $b*map-get($var, $i)/12;
                    @if $b==12 {
                        margin-left: auto;
                        margin-right: auto
                    }
                  }
              }
            }
    }
}


@media(max-width: 575px){
@for $b from 1 to 13 {
    .col-#{$b}{
        width: $b*100%/12;
      }
  }
}

@media(min-width: 1600px){
    @for $b from 1 to 13 {
        .col-lx-#{$b}{
            width: $b*100%/12;
          }
      }
    }