<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
    <display-name>Тестовый пример</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

  <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>MainServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main.html</url-pattern>
    </servlet-mapping>

  <servlet>
        <servlet-name>TimetableServlet</servlet-name>
        <servlet-class>TimetableServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>TimetableServlet</servlet-name>
        <url-pattern>/timetable.html</url-pattern>
    </servlet-mapping>

  <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>AboutServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/about.html</url-pattern>
    </servlet-mapping>

      <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>ContactServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>IndexServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AutoServlet</servlet-name>
        <servlet-class>AutoServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoServlet</servlet-name>
        <url-pattern>/Autorizate.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FListServlet</servlet-name>
        <servlet-class>FListServlet</servlet-class>
        <load-on-startup>6</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FListServlet</servlet-name>
        <url-pattern>/flight.html</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>FEditServlet</servlet-name>
        <servlet-class>FEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FEditServlet</servlet-name>
        <url-pattern>/Fedit.html</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>FSaveServlet</servlet-name>
        <servlet-class>FSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FSaveServlet</servlet-name>
        <url-pattern>/Fsave.html</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>FDeleteServlet</servlet-name>
        <servlet-class>FDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FDeleteServlet</servlet-name>
        <url-pattern>/Fdelete.html</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>TListServlet</servlet-name>
        <servlet-class>TListServlet</servlet-class>
        <load-on-startup>7</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>TListServlet</servlet-name>
        <url-pattern>/ticket.html</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>TEditServlet</servlet-name>
        <servlet-class>TEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TEditServlet</servlet-name>
        <url-pattern>/Tedit.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TSaveServlet</servlet-name>
        <servlet-class>TSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TSaveServlet</servlet-name>
        <url-pattern>/Tsave.html</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>TDeleteServlet</servlet-name>
        <servlet-class>TDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TDeleteServlet</servlet-name>
        <url-pattern>/Tdelete.html</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UListServlet</servlet-name>
        <servlet-class>UListServlet</servlet-class>
        <load-on-startup>8</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UListServlet</servlet-name>
        <url-pattern>/users.html</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>UEditServlet</servlet-name>
        <servlet-class>UEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UEditServlet</servlet-name>
        <url-pattern>/Uedit.html</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>USaveServlet</servlet-name>
        <servlet-class>USaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>USaveServlet</servlet-name>
        <url-pattern>/Usave.html</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UDeleteServlet</servlet-name>
        <servlet-class>UDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UDeleteServlet</servlet-name>
        <url-pattern>/Udelete.html</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>GallaryServlet</servlet-name>
        <servlet-class>GallaryServlet</servlet-class>
        <load-on-startup>9</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GallaryServlet</servlet-name>
        <url-pattern>/gallary.html</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>NListServlet</servlet-name>
        <servlet-class>NListServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>NListServlet</servlet-name>
        <url-pattern>/news.html</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>GListServlet</servlet-name>
        <servlet-class>GListServlet</servlet-class>
        <load-on-startup>10</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GListServlet</servlet-name>
        <url-pattern>/guests.html</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>GEditServlet</servlet-name>
        <servlet-class>GEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GEditServlet</servlet-name>
        <url-pattern>/Gedit.html</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>GSaveServlet</servlet-name>
        <servlet-class>GSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GSaveServlet</servlet-name>
        <url-pattern>/Gsave.html</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>GDeleteServlet</servlet-name>
        <servlet-class>GDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GDeleteServlet</servlet-name>
        <url-pattern>/Gdelete.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout.html</url-pattern>
    </servlet-mapping>

    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>

</web-app>
